{{#each this}}
<li class="gallery-item">
    <dev class="gallery-card">
        <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{title}}" class="gallery-image">
        <h2 class="card-title" data-id="{{id}}">{{title}}</h2>
        <dev class="card-content">
            <ul class="card-movie_genres">
                {{#each genres}}
                     <li>{{name}}</li>
                 {{/each}}
            </ul>
             <p>| {{year}}</p>
            <span class="card-movie_rating">{{vote_average}}</span>
        </dev>
    </dev>
</li>
{{/each}}

{{!-- {{#each this}}
<li class="gallery-item">
    <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{title}}" class="gallery-image">
    <h2>{{title}}</h2>
    <ul>
        {{#each genres}}
            <li>
                <span class="gallery-details">{{this.name}}</span>
            </li> 
        {{/each}}
    </ul>
    <p>| {{release_date}}</p>
    <p>{{vote_average}}</p>
</li>
{{/each}} --}}