{{#each this}}
<li class="gallery-item">
    <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{title}}" class="gallery-image">
    <h2>{{title}}</h2>
    <ul>
        {{#each genres}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>| {{year}}</p>
    <p>{{vote_average}}</p>
</li>
{{/each}}